Package: com.henrikssonbrothers.noupdaterequiredfk
Name: NoUpdateRequiredFK
Version: 1.0.0
Architecture: iphoneos-arm
Description: Allow older version of Försäkringskassan's app
Maintainer: Christoffer Wigforss
Author: Christoffer Wigforss
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
