Package: com.henrikssonbrothers.noupdaterequiredfk
Name: NoUpdateRequiredFK
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Christoffer Wigforss
Author: Christoffer Wigforss
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
